
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="table-responsive">
    <tbody id="reportTableBody">
        <!-- Articles will be loaded here -->
        @if (ViewBag.ListReport != null)
        {
            @foreach (var article in ViewBag.ListReport)
            {
                <tr>
                    <td>@article.NewsArticleId</td>
                    <td><strong>@article.NewsTitle</strong></td>
                    <td>@article.Category.CategoryName</td>
                    <td>
                        @foreach (var tag in article.Tags)
                        {
                            <span>#@tag.TagName</span>
                            <br />
                        }
                    </td>
                    <td>
                        @if (article.NewsStatus == true)
                        {
                            <span class="status-badge status-published">PUBLISHED</span>
                        }
                        else
                        {
                            <span class="status-badge status-draft">NOT PUBLISHED</span>
                        }

                    </td>
                    <td>@article.CreatedDate.ToString("MM dd, yyyy")</td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary me-1" data-bs-toggle="modal" data-bs-target="#updateArticleModal-@article.NewsArticleId">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteArticleModal-@article.NewsArticleId">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</div>