
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div class="table-responsive">
    <tbody id="reportTableBody">
        <!-- Articles will be loaded here -->
        @if (ViewBag.List != null)
            @foreach (var article in ViewBag.List)
            {
                <tr>
                    <td>@article.NewsArticleId</td>
                    <td><strong>@article.NewsTitle</strong></td>
                    <td>@article.Category.CategoryName</td>
                    <td>
                        @foreach (var tag in article.Tags)
                        {
                            <span>#@tag.TagName</span>
                            <br />
                        }
                    </td>
                    <td>
                        @if (article.NewsStatus == true)
                        {
                            <span class="status-badge status-published">PUBLISHED</span>
                        }
                        else
                        {
                            <span class="status-badge status-draft">NOT PUBLISHED</span>
                        }

                    </td>
                    <td>@article.CreatedDate.ToString("MM dd, yyyy")</td>
                </tr>
            }  
    </tbody>
</div>